<section class="container">
  <div class="show-content">
    <h1>Dados do Candidato</h1>
    <div class="dashboard-show">
      <%= image_tag(@deputy.avatar, alt: @deputy.tx_nome_parlamentar) %>
      <div class="dashboard-show__info">
        <strong><%= @deputy.tx_nome_parlamentar %></strong>
        <div class="dashboard-show__info-spent">
          <div>
            <span>Total de gastos</span>
            <span>$</span>
          </div>
          <p><%= number_to_currency_br(@deputy.total_spents) %></p>
          <span class="dashboard__biggest-spent">Maior despesa do candidato: <%= number_to_currency_br(most_spent_supplier()[:biggest_spent]) %></span>
        </div>
      </div>
    </div>
    <table>
      <tr>
        <th>Fornecedor</th>
        <th>Valor Líquido</th>
        <th>Data de Emissão</th>
        <th>Documento Fiscal</th>
      </tr>
      <% @deputy.spents.each do |item| %>
        <tr id="<%= 'biggest--value' if most_spent_supplier()[:name].upcase == item.txt_fornecedor.upcase %>">
          <td><%= item.txt_fornecedor %></td>
          <td><%= number_to_currency_br(item.vlr_liquido) %></td>
          <td><%= date_to_br_date(item.dat_emissao) %></td>
          <td><%= link_to "Nota Fiscal", item.url_documento, class: "dashboard-btn__document", target: :_blank %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
