<footer>
  <p> Desenvolvido por <%= link_to "Marcus Pereira", "https://github.com/marcuspereiradev", target: :_blank %></p>
  <div class="footer__icons">
    <%= link_to "https://github.com/marcuspereiradev", target: :_blank do %>
      <%= image_tag "GitHub-Mark.png", alt: "Github" %>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/marcus-pereira-33055b5b/", target: :_blank do %>
      <%= image_tag "linkedIn.png", alt: "LinkedIn" %>
    <% end %>
  </div>
</footer>
