<!DOCTYPE html>
<html>
  <head>
    <title>Ranking dos gastos dos Deputados</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/shared/header' %>
    <div class="container">
      <%= render '/shared/flash_errors' %>
    </div>
    <%= yield %>
    <%= render '/shared/footer' %>
  </body>
</html>
